<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizApp – Teste dein Wissen!</title>
    <link rel="stylesheet" href="landingpage.css">
</head>
<body>
    <header>
        <h2>Willkommen bei QuizApp!</h2>
    </header>

    <div class="container">
        <p>Melde dich an oder registriere dich, um loszulegen und deine Highscores zu verfolgen!</p>

        <div class="user-nav-wrapper">
            <nav class="user-nav">
                <% if user_signed_in? %>
                <%= link_to "Profil", profile_path %> |
                <span>Willkommen, <%= current_user.email %></span> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                <% else %>
                <%= link_to "Login", new_user_session_path %> |
                <%= link_to "Registrieren", new_user_registration_path %>
                <% end %>
            </nav>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Deine Quiz-App. Alle Rechte vorbehalten.</p>
    </footer>
</body>
</html>