<h1>Multiplayer-Spiel beitreten</h1>

<%= form_with url: multiplayer_join_game_path, method: :post, local: true do |f| %>
  <div>
    <%= label_tag :code, "Spielcode" %>
    <%= text_field_tag :code, params[:code], required: true %>
  </div>
  <%= submit_tag "Beitreten" %>
<% end %>

<%= link_to "Zurück zur Startseite", root_path %>
