<h1>Frage</h1>

<p><strong><%= @question.frage %></strong></p>

<%= form_with url: multiplayer_answer_path(code: @game.code), method: :post, local: true do %>
  <%= hidden_field_tag :question_id, @question.id %>

  <div>
    <%= submit_tag @question.antwort1, name: "selected_answer", value: @question.antwort1 %>
    <%= submit_tag @question.antwort2, name: "selected_answer", value: @question.antwort2 %>
    <%= submit_tag @question.antwort3, name: "selected_answer", value: @question.antwort3 %>
    <%= submit_tag @question.antwort4, name: "selected_answer", value: @question.antwort4 %>
  </div>
<% end %>
