<!DOCTYPE html>
<html>
<head>
  <title>Willkommen zum Quiz!</title>
  <%= stylesheet_link_tag 'application', media: 'all' %> 
</head>
<body>
  <div class="container">
    <header>
      <h1 class="willkommen">Willkommen zum spannenden Quiz!</h1>
      <p class=willkommensubtext>Teste dein Wissen und hab Spaß!</p>

      <%= form_with url: game_start_path, method: :get, local: true do %>
          <label for="total_questions">Wie viele Fragen möchtest du spielen?</label>
          <%= number_field_tag :total_questions, 5, min: 1, required: true, class: "input-number" %>
          <br>
          <%= submit_tag "Spiel starten", class: "start-button" %>
        <% end %>
    </header>

    <footer>
      <p>&copy; <%= Time.now.year %> Quiz-App</p>
    </footer>
  </div>
</body>
</html>