<!DOCTYPE html>
<html lang="de">
<head>
    <title><%= yield(:title) || "Deine App" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
<body>
  <header>
    <h1> <%= link_to "Quiz App", root_path, class: "header-link" %> </h>  
  </header>
  <main>
    <div class="content-container">
      <%= yield %>
    </div>
  </main>
</body>
</html>