<!DOCTYPE html>
<html lang="de">
<head>
  <title><%= yield(:title) || "Quiz App" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1 class="app-title"><%= link_to "Quiz App", root_path %></h1>
    <div class="auth-links">
      <% if user_signed_in? %>
        <span><%= current_user.email %></span>
        <%= link_to "Profil", profile_path %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Registrieren", new_user_registration_path %>
      <% end %>
    </div>
  </header>

  <main class="main-content">
    <%= yield %>
  </main>
</body>
</html>
