<!DOCTYPE html>
<html lang="de">
<head>
    <title><%= yield(:title) || "Deine App" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1><%= link_to "Quiz App", root_path, class: "header" %></h1>

<% if user_signed_in? %>
  <div class="profile-card">
    <p class="profile-label">Angemeldet als:</p>
    <p class="profile-email"><%= current_user.email %></p>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logout-button" %>
  </div>
<% else %>
  <div class="login-card">
    <h2>Willkommen!</h2>
    <%= link_to "Login", new_user_session_path, class: "auth-button" %>
    <%= link_to "Registrieren", new_user_registration_path, class: "auth-button" %>
</div>

<% end %>


  </header>

  <main>
    <div class="content-container">
      <%= yield %>
    </div>
  </main>
</body>
</html>
